<a href="https://colab.research.google.com/github/ninjacode01/ninjacode01/blob/main/SynFlowTesting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/ganguli-lab/Synaptic-Flow.git

Cloning into 'Synaptic-Flow'...
remote: Enumerating objects: 1855, done.
remote: Total 1855 (delta 0), reused 0 (delta 0), pack-reused 1855
Receiving objects: 100% (1855/1855), 174.37 MiB | 29.92 MiB/s, done.
Resolving deltas: 100% (984/984), done.

In [ ]:
cd Synaptic-Flow/

/content/Synaptic-Flow

In [ ]:
!python main.py --expid 'test_check' --experiment 'multishot'

Loading mnist dataset.
Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to Data/MNIST/raw/train-images-idx3-ubyte.gz
9913344it [00:00, 44991947.67it/s]
Extracting Data/MNIST/raw/train-images-idx3-ubyte.gz to Data/MNIST/raw

Downloading http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz to Data/MNIST/raw/train-labels-idx1-ubyte.gz
29696it [00:00, 14981242.67it/s]
Extracting Data/MNIST/raw/train-labels-idx1-ubyte.gz to Data/MNIST/raw

Downloading http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz to Data/MNIST/raw/t10k-images-idx3-ubyte.gz
1649664it [00:00, 16276010.11it/s]
Extracting Data/MNIST/raw/t10k-images-idx3-ubyte.gz to Data/MNIST/raw

Downloading http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz to Data/MNIST/raw/t10k-labels-idx1-ubyte.gz
5120it [00:00, 31213425.12it/s]
Extracting Data/MNIST/raw/t10k-labels-idx1-ubyte.gz to Data/MNIST/raw

/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:490: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))
Creating fc model.

## Reading the post-train results

In [ ]:
import pandas as pd
post_result = pd.read_pickle('/content/Synaptic-Flow/Results/data/multishot/test_check/post-train-rand-5-10.pkl')
post_result

    train_loss  test_loss  top1_accuracy  top5_accuracy
0          NaN   2.305115          10.32          49.80
1     2.302209   2.301143          11.35          51.33
2     2.301310   2.301089          11.35          51.62
3     2.301315   2.301002          11.35          52.14
4     2.301329   2.300966          11.35          52.14
5     2.301298   2.301011          11.35          51.63
6     2.301296   2.300943          11.35          52.14
7     2.301297   2.301000          11.35          52.14
8     2.301265   2.301046          11.35          51.63
9     2.301300   2.300987          11.35          52.14
10    2.301311   2.301053          11.35          51.85

## PRUNE RESULTS

In [ ]:
prune_result = pd.read_pickle('/content/Synaptic-Flow/Results/data/multishot/test_check/compression-rand-5-10.pkl')
prune_result

,module,param,sparsity,size,shape,flops,score mean,score variance,score sum,score abs mean,score abs variance,score abs sum,prunable
0,1,weight,0.000026,78400,"(100, 784)",78400,0.001129,0.997681,88.495735,0.799071,0.359168,62647.203125,True
1,1,bias,1.000000,100,"(100,)",100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
2,3,weight,0.000000,10000,"(100, 100)",10000,0.004158,1.004613,41.575077,0.801565,0.362125,8015.645508,True
3,3,bias,1.000000,100,"(100,)",100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
4,5,weight,0.000000,10000,"(100, 100)",10000,-0.002745,1.036994,-27.451115,0.810594,0.379938,8105.941895,True
5,5,bias,1.000000,100,"(100,)",100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
6,7,weight,0.000000,10000,"(100, 100)",10000,-0.008127,1.027654,-81.273163,0.807949,0.374938,8079.495117,True
7,7,bias,1.000000,100,"(100,)",100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
8,9,weight,0.000000,10000,"(100, 100)",10000,-0.005284,1.000743,-52.841095,0.795192,0.368440,7951.921875,True
9,9,bias,1.000000,100,"(100,)",100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
10,11,weight,0.000000,1000,"(10, 100)",1000,-0.003908,1.012115,-3.908085,0.805585,0.363163,805.585205,True
11,11,bias,1.000000,10,"(10,)",10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False